body {
  font-family: "RobotoRegular", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.k-tooltip-validation {
  display: block;
  font-size: 80%;
  margin-top: .25em;
}
.k-switch {
  margin-right: .5em;
}
input[type="radio"] {
  margin-right: 16px;
  vertical-align: text-bottom;
}
h5 {
  text-align: center;
}
